extends layout

block content
  h2.main-content-title
    | Welcome to Memeaid!
  .main-content-btn-wrapper
    button.main-content-btn
      | Let's get you a meme
  .main-content-img-wrapper
    img.main-content-img

block footer
  script(type='text/javascript', src='js/home.js')
