doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no')
    title= 'Memeaid - Home'
    link(rel='stylesheet' href='css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
  body
    header.main-header
      span.main-header-title
        | Memeaid
    .main-content
      block content

  footer
    block footer
    p.copyright
      | (now-forever) Barry Harris

