.main-content
    padding-left 5px
    padding-top 20px

    .main-content-title
        font-family noto-font
    .main-content-img
        box-shadow 6px 6px 3px accent-color
        display none
        height 360px
        margin 20px
        width 480px
