@import 'variables'

body
    height 100vh
    margin 0
    width 100vw
footer
    bottom 0
    position absolute

    .copyright
        font small-font


// Import all styles and variables
@import 'home'
@import 'nav'
@import 'wall'
@import '404'
