.main-header
    background main-color
    height 5vh
    position absolute
    top 0
    width 100%

    .main-header-title
        color text-color
        font normal-font
        margin 5px
        position absolute

